.leaflet-interactive {
  transition: fill 1s;
  -webkit-transition: fill 1s;
}

.leaflet-marker-hover {
  animation: hover 1s infinite alternate;
}

@keyframes hover {
  100% {
    transform: translate(0px, -2px);
  }
}

.leaflet-popup-content {
  margin: 15px 15px 15px 15px;
}

.leaflet-popup-content > table {
  border-collapse: separate;
  border-spacing: 10px 5px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

input.leaflet-control-layers-selector {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}